@model List<Application.ViewModels.SeriesViewModel>

@{
    ViewData["Title"] = "ITLAMovie Serie";
}

<div class="container container-custom">
    <div class="row mb-4">
        <div class="col text-center">
            <a asp-controller="Series" asp-action="Crear" class="btn btn-modern">
                Crear <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 series-container">
                <div class="card cardStyle">
                    <img class="card-img-top" src="@item.Portada" alt="Series image">
                    <div class="card-body">
                        <h4>Titulo: @item.Nombre</h4>
                        <p>Genero: @string.Join(", ", item.Genero.Concat(item.GeneroSecundario))</p>
                        <p>Productora: @item.NombreProductora</p>
                        <a asp-controller="Series" asp-action="Editar" asp-route-id="@item.Id" class="btn btn-sm btn-success">Actualizar <i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-controller="Series" asp-action="DeleteSerie" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Borrar <i class="fa-solid fa-delete-left"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
